@{

    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}


<div class="container">

    <div class="row offset-md-3" style="text-align:center;vertical-align:top;">
        <img id="homeImg" src="~/images/RAndRLogo.jpg" style="padding-top:5%; max-width:70%; height:auto; padding-bottom:30%; " />
    </div>

</div>
