@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change password";
    Layout = "_ManageProfileLayout";
}


@*<h3>@ViewData["Title"]</h3>*@

<br />
<div class="content-form-title"> <h2 id="title" style="font-size:20px;">Change Password:</h2></div>
<br />

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post" asp-action="UpdatePassword2">
       @* <form id="change-password-form" method="post" asp-action="UpdatePassword2">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="OldPassword" class="form-label"></label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="NewPassword" class="form-label"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>


            <br />
            <button type="submit" id="submit-btn" class="w-25 btn btn-lg btn-primary" onclick="fnSaveData()">Update</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

    <script type="text/javascript">


        $(document).ready(function () {
            $('input').on('keydown', function (e) {
                if (e.key == 'Enter') {
                    e.preventDefault();
                    $("#submit-btn").trigger("click");
                }
            });
            //new CircleType(document.getElementById('txtFull'));
        });


        function AjaxFormSubmit() {

            var url = $("#change-password-form").attr("action");
            var formData = $("#change-password-form").serialize();

            alert("Url: " + url);
            alert(formData);

            $('#change-password-form').on("submit", function (event) {
                event.preventDefault();
                alert("prevented...");
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    processData: false,
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    success: function (response) {
                        if (response.Status) {
                            alert(response.Data);
                        }
                    },
                    error: function () {
                        alert('Failed to update password!');
                    }
                });

            });
        }


        function fnSaveData() {


            //var urlpath = $("#change-password-form").attr("action");
            //var formData = $("#change-password-form").serialize();

            var formData = RAndRJavaScripts.div.getJsonObjectFromDiv('change-password-form', '0');

            //alert("Url: " + urlpath);
            alert("form data: " + formData);

            $('#change-password-form').on("submit", function (event) {
                event.preventDefault();
                alert("prevented...");

            //alert("Not prevented...");

                //RAndRJavaScripts.ajaxLoder.showPleaseWait();

                //RAndRJavaScripts.actionCall(urlpath, { model: formData }, "POST", function (data, result) {
                    
                //    alert("Result: " + result.Data);
                    
                //    if (result) {
                //        RAndRJavaScripts.ajaxLoder.hidePleaseWait();
                //        RAndRJavaScripts.message.showInfo('#showMsg', data.Data, 4000);
                //        fnResetData();
                //        $('html, body').animate({ scrollTop: 0 }, 'slide');
                //        if ($updateMode == true) {
                //            setTimeout(function () {
                //                window.location.href = '/AdminAndSetup/ManageProfile';
                //                //history.back();
                //            }, 3000);
                //        }
                //    } else {
                //        RAndRJavaScripts.ajaxLoder.hidePleaseWait();
                //        RAndRJavaScripts.message.showError('#showErrorMsg', data.Data, 10000);
                //    }
                //});
                $.ajax({
                    type: "POST",
                    url: '/AdminAndSetup/UpdatePassword2',
                    data: formData,
                    dataType: 'json',
                    success: function (response, status, jqXHR) {
                   
                        //if (callbackFn != null || callbackFn != undefined) {
                        //    if (response != null && response.success) callbackFn(response, true);
                        //    else callbackFn(response, false);
                        //}
              
                        //RAndRJavaScripts.ajaxLoder.hidePleaseWait();
                        //RAndRJavaScripts.message.showInfo('#showMsg', response.Data, 4000);

                    //alert('Successfully received Data ');
                    alert("Success: " + response.Data);
                    RAndRJavaScripts.tools.resetPage('change-password-form', null, null, null, null, null, 'FullName');
                   
                    },
                    error: function (jqXHR, status, error) {
                        
                        //RAndRJavaScripts.ajaxLoder.hidePleaseWait();
                        //RAndRJavaScripts.message.showError('#showErrorMsg', data.Data, 10000);

                        alert("Error: " + response.Data);

                        //if (callbackFn != null || callbackFn != undefined) {
                        //    var err = jqXHR.responseText;
                        //    // err = err.substring(err.indexOf("<title>"), err.indexOf("<meta")).replace('<title>', '').replace('<meta', '');
                        //    callbackFn(err, false);
                        //}
                    }
                });

            });

        }

        //function fnResetData() {
        //    RAndRJavaScripts.tools.resetPage('formDiv', null, null, null, null, null, 'FullName');
        //}


    </script>