@{
    ViewData["Title"] = "Home";
}


<div class="container">
   
    <div class="offset-md-2" style="vertical-align:top; align-content:center">
        <img id="homeImg" src="~/images/IndexCake1.jpg" style="padding-top:15%;  max-width:50%; height:auto; padding-bottom:75%; " />
    </div>

</div>

@*<script>
    var pageHeight = $(document).height() - 3;
    var header = $('#header').height();
    var foother = $('#footer').height();
    var mainContant = pageHeight - header - foother;
    $('#homeImg').css('height', mainContant + 'px');
</script>*@